*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.div1{
    
    height:30px;
    
 background-color: orange;
   display:flex;
   flex-direction:row;
   align-items: center;
   justify-content: flex-end;
   
   

}
.fa-brands{
    font-size:larger;
    background-color: rgb(27, 225, 13);
    color: white;
    margin:10px;
    
}
.fa-solid{
    font-size:larger;
    margin:10px;
}
#num{
    font-size: large;
    font-weight: bold;
}
.div2{
    /* border:2px solid black; */
    margin-top: 10px;
    height:100px;
    
    
    
}
.div2 ul{
    display:flex;
   flex-direction:row;
   align-items: center;
   
   
}
.div2 ul li{
    list-style: none;
    padding:5px;
    font-weight:bold;
    font-size:small;
}
.div2 ul li:hover{
    background-color: orange;
    
}
#btn{
    border:2px solid orange;
    height:30px;
    width:90px;
    background-color: orange;
    color:white;
    border-radius: 5px;
    box-shadow: 2px 2px gray ;
    margin-left: 100px;
    cursor:pointer;
    

}
.div3{
    text-align: center;
}
.div3 h2{
font-weight: 400;
margin:5px;
}
.div3 span{
    color:orange;
}
.div4{
    border:1.5px solid rgb(35, 35, 140);
    border-radius: 30px;
    width:500px;
    height:50px;
    
    align-items: center;
    margin-left: 380px;
    margin-top: 50px;
}
#heading{
    text-align: center;
    margin-left: 45px;
    margin-top: 10px;
}
.fa-magnifying-glass{
    color:orange;
    margin-left: 25px;
    margin-top: 12px;
}
.container-fluid{
    /* border:2px solid black; */
    display:flex;
    margin-top: 200px;
   
}
.col-lg{
    /* border:2px solid black; */
    width:300px;
    height:300px;
    margin:3px;
    text-align: center;
}
.coll-lg{
    /* border:2px solid black; */
    width:250px;
    height:300px;
   
    

}

.coll-lg ul li{
    
    list-style: none;
    
    color:rgb(14, 11, 11);
    font-size:small;
    font-weight: 400;
    
    
    
    
}
.coll-lg ul li a{
    text-decoration: none;
    color:black;
}
.coll-lg ul li a:hover{
    
    color:orange;
}
.fa-chevron-right{
    color:orange;
    font-size: smaller;
}
.registration{
    border:2px solid rgb(35, 35, 140);
    background-color: rgb(35, 35, 140);
    border-radius: 20px;
    width:600px;
    height:200px;
    margin-left: 350px;
    margin-top: 40px;
    margin-bottom:40px;
    display:flex;
    flex-direction: column;
}
.regi1{
    /* border:2px solid black; */
    height:70px;
    margin:3px;
    display:flex;
    flex-direction: row;
   
}
.regi11{
    border:2px solid white;
    background-color: white;
    color:rgb(35, 35, 140);
    border-radius: 15px;
    height:40px;
    width:200px;
    margin:3px;
    margin-top: 6px;
    margin-left: 20px;
    text-align: center;
    
}
.services{
    /* border:2px solid black; */
    background-color: whitesmoke;
    
    margin-top: 20px;
    
    height:500px;
    display:flex;
    flex-direction: column;

}
.services h1{
    text-align: center;
}
.services1{
    border:2px solid rgb(35, 35, 140);
    background-color: rgb(35, 35, 140);
    /* height:500px; */
    display:flex;
    flex-direction: row;
    
}
.services11{
    /* border-bottom:2px solid red; */
    background-color: white;
    border-radius: 10px;
    height:180px;
    width:20%;
    margin:15px;
    margin-left: 40px;
    text-align: center;
    
    


}
.services11 img{
    margin-top: 30px;
}
.services11 p{
    margin-top:15px;
}
#red{
    border-bottom: 6px solid red;
}
#sky{
    border-bottom: 6px solid skyblue;
}
#green{
    border-bottom: 6px solid rgb(20, 82, 20);
}
#orange{
    border-bottom: 6px solid orange;
}
#purple{
    border-bottom: 6px solid purple;
}
#parrot{
    border-bottom: 6px solid palegreen;
}
 #about-us{
    /* border:2px solid orange; */
    margin-bottom: 2px;
    background-color: rgb(35, 35, 140);
    display:flex;
    flex-direction:row;

} 
 .about-content{
    /* border:2px solid orange; */
    height:400px;
    border-bottom: 2px solid white;
    border-radius: 10px;
    width:50%;
    color:white;
    text-align: center;
}
.about-content p{
    margin:20px;
    margin-top: 5px;
    padding:10px;
} 
 .about-content h2{
    margin-top: 100px;
}
.about-content-img{
    /* border:2px solid blue; */
    width:50%;
    margin-left: 50px;
    text-align: center;
    
}
.about-content-img img{
    width:500px;
    border-radius: 20px;
    
} 
.working{
    /* border:2px solid black; */
    background-color: rgb(202, 237, 251);
    height:250px;
    align-items: center;


    
    margin-top: 20px;
    display:flex;
    flex-direction: row;
}
.work1{
    /* border:2px solid red; */
    background-color: orange;
    margin-left: 50px;
    color:black;
    
    border-radius: 10px;
    width:20%;
    height:150px;
    text-align: center;

}
.work1 h3{
    /* border:2px solid blue; */
    margin-top: 30px;

}

.work2 h3{
    /* border:2px solid blue; */
    margin-top: 30px;

}

.work2{
    /* border:2px solid orange; */
    background-color: rgb(35, 35, 140);
    margin-left: 50px;
    color:white;
    border-radius: 10px;
    width:20%;
    height:150px;
    text-align: center;

}
#file{
    /* border:2px solid blue; */
    font-size: 40px;
    margin-top: 10px;
}
#rupee{
    /* border:2px solid blue; */
    font-size: 40px;
    margin-top: 10px;

}
#phone{
    font-size: 40px;
    margin-top: 10px;

}
#card{
    font-size: 40px;
    margin-top: 10px;

}
#btn1{
    border:2px solid orange;

    background-color: orange;
    height:40px;
    width:160px;
    margin-left: -400px;
    
    cursor: pointer;
    color:black;
}
.clients{
    /* border:2px solid black; */
    height:200px;
   
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo img{
    padding:15px;
}
.why-choose{
    border:2px solid blue;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.why-choose1{
    border:2px solid black;
    height:300px;
    margin:50px;
    
}
.why-choose2{
    border:2px solid black;
    height:300px;
    margin:50px;
    margin-top: 5px;

    
}
#h1{
    text-align: center;
}
#head{
    text-align: center;
}
.booking{
    border:2px solid rgb(253, 253, 186);
    border-radius: 10px;
    background-color: rgb(253, 253, 186);
    height:300px;
    width:1000px;
    margin:20px;
    margin-left: 150px;
    display:flex;
    flex-direction: row;
    

}
#book{
    /* border:2px solid red; */
    text-align: center;
    width:50%;
}
#book img{
    margin-top: 50px;
}
#book h2{
    margin-top: 10px;
}
#form1{
    border:2px solid white;
    background-color: white;
    border-radius: 20px;
    margin:10px;
    width:50%;
    text-align: center;
}
#form1 p{
    margin-top: 20px;
}
.call{
    border:2px solid rgb(35, 35, 140);
    background-color: rgb(35, 35, 140);
    color:white;
    margin-left: 170px;
    margin-top: 20px;
    border-radius: 20px;
    height:40px;
    width:160px;
}
.whtsup{
    border:2px solid rgb(35, 35, 140);
    background-color: rgb(35, 35, 140);
    color:white;
    margin-left: 170px;
    margin-top: 5px;
    height:40px;
    width:160px;
    border-radius: 20px;

}
#btn2{
    border:2px solid rgb(35, 35, 140);
    background-color: rgb(35, 35, 140);;
    color:white;
    width:80%;
    height:30px;
    margin-top: 20px;
    cursor: pointer;
    animation:button 2s ease-out infinite normal;
    
}
@keyframes button {
    0%{
        transform:scale(0.6);

    }
    25%{
        transform:scale(0.9);

    }
    60%{
        transform:scale(0.6);

    }
    100%{
        transform:scale(0.6);
    }
    
}
#name{
    border-bottom:2px solid rgb(96, 96, 247);
    border-radius: 20px;
    width:80%;
    height:40px;
    text-align: center;
    margin-top: 10px;
}
#number{
    border-bottom:2px solid rgb(96, 96, 247);
    border-radius: 20px;
    width:80%;
    height:40px;
    text-align: center;
    margin-top: 10px;

}
#address{
    border-bottom:2px solid rgb(96, 96, 247);
    border-radius: 20px;
    width:80%;
    height:40px;
    text-align: center;
    margin-top: 10px;

}